services:
  - type: web
    name: mongoDb-app
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    region: oregon
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: PORT
        value: 8080
